

@font-face {
    font-family: 'sf_florencesansregular';
    src: url('assets/font/sfflorencesans-webfont.woff2') format('woff2'),
         url('assets/font/sfflorencesans-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'aleoregular';
    src: url('assets/font/aleo-regular-webfont.woff2') format('woff2'),
         url('assets/font/aleo-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

#bloc_page {
	background-image: url('assets/img/background.png');
	background-repeat: no-repeat;
	width: 1800px;
	height: 719px;
	margin-left: 25px;
	margin-right: 25px;
	position: absolute;
    padding: 0;
    margin-left: 30px;
    margin-right: 30px;
    
}

/*règles générales*/
li{
    list-style-type: none;
   
}

ul {
    padding:0;
    
}

a {
    color:#000;
    text-decoration: none; 
}
    
a:visited {
	color:#000;
}  
 
a:active {
	color:#E50006;
} 



/*header*/

header{
    background-color: white;
    height: 160px;
    display:flex;
    justify-content: center;
    align-items: center;
    
}

/*nav logo et cinéma*/
#logo {
    border-right: 1px solid;
    display:inline-block;
    padding-right: 20px
    
}


.cinema {
    list-style-type: none;
    padding-bottom: 2px;
    padding-top: 8px;
    border-bottom: 1px solid;
	font-family: 'sf_florencesansregular';
	font-weight: 1.1em;
	font-style: italic;
	font-weight: bold;
	color: #000;
}

.cinema2 {
    list-style-type: none;
    padding-bottom: 3px;
    padding-top: 8px;
	font-family: 'sf_florencesansregular';
	font-weight: 1.1em;
	font-style: italic;
	font-weight: bold;
	color: #000;
}

.cinema2:hover{
    list-style-type: none;
    padding-bottom: 2px;
    padding-top: 8px;
	font-family: 'sf_florencesansregular';
	font-weight: 1.1em;
	font-style: italic;
	font-weight: bold;
	color: #E50006;
}





.cinema a:hover{
    list-style-type: none;
    padding-bottom: 2px;
    padding-top: 8px;
    border-bottom: 1px solid #E50006;
	font-family: 'sf_florencesansregular';
	font-weight: 1.1em;
	font-style: italic;
	font-weight: bold;
	color: #E50006;
    
}


#logo_cinema {
    display: inline-block;
    display:inline-flex;
    align-items: center;
}



#cinema_nav {
    padding-left:20px;
    padding-bottom: 10px;
}

#evenement_nav {
    display:flex;
    justify-content: space-around;
}





/*nav du pdf*/

#pdf_nav{
    display:flex;
    align-items: center;
    width: 157px;
    border-bottom: 1px solid #E50006;
}

#download_info a{
    font-family: 'sf_florencesansregular';
	font-size: 1.1em;
	font-weight: bold;
	font-variant: small-caps;
	color: #E50006;
}



/*facebook twitter*/
#social ul{
    display:flex;
    justify-content: space-around;
}





#infos_pratiques ul{
    display:flex;
    justify-content: space-between;
    width: 400px;
    margin-left: 100px;
    margin-right: 100px;
    font-family: Arial, sans-serif;
}

#twitter, #facebook{
    padding-left: 12px;
    padding-right: 12px;
    
}

#twitter{
    border-right: 1px solid grey;
}

#bouton_billet a{
    padding: 13px 20px;
    width: 100px;
    text-align: center;
    background-color: #E50006;
	font-family: 'sf_florencesansregular';
	font-size: 1.3em;
	font-weight: bold;
	font-variant: small-caps;
	color: #fff;
}

.evenement a{ 
    font-family: 'sf_florencesansregular';
	font-size: 1.25em;
	font-weight: bold;
	font-variant: small-caps;
	letter-spacing: 1px;
	color: #000;
}

.evenement a:hover {
    font-family: 'sf_florencesansregular';
	font-size: 1.25em;
	font-weight: bold;
	font-variant: small-caps;
	letter-spacing: 1px;
	color: #E50006;
}

.union2{
    font-family: 'sf_florencesansregular';
	font-size: 1.25em;
	font-weight: bold;
	font-variant: small-caps;
	letter-spacing: 1px;
	color: #E50006;
}


#download_info {
    margin-right:5px;
}


#nav_droit{
    height: 120px;
    display: flex;
    flex-direction: column;
    
}

#nav_sup {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 0;
    padding-bottom: 30px

}

/*menu déroulant*/

#menu_billet{
    position: relative;
    display: inline-block;
}

#menu_contenu_billet{
    display:none;
    position: absolute;
    min-width: 100px;
    box-shadow: 10px 1px 20px 0px rgba(0,0,0,0.2);
    z-index: 1;
    background-color: white;
    height: 150px;
    left: 15px;
    top: 30px;
}

#menu_contenu_billet ul{
    
    height: 150px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

#menu_contenu_billet ul li{
    padding-top: 7px;
    padding-bottom: 7px;
    
}







#menu_contenu_billet:after{
    content: ' ';
    width: 0px; 
    height: 0px; 
    border-top: 10px solid transparent; 
    border-left: 10px solid transparent; 
    border-bottom:10px solid white; 
    border-right:10px solid transparent; 
    position: absolute; 
    left: 50%;
    top: -18px; 
    margin-left: -10px;
}

#menu_billet:hover #menu_contenu_billet{
  display:block;  
}





#menu_programmation{
    position: relative;
    display: inline-block;
}

#menu_contenu_programmation{
    display: none;
    position: absolute;
    min-width: 250px;
    box-shadow: 10px 1px 20px 0px rgba(0,0,0,0.2);
    z-index: 1;
    background-color: white;
    height: 180px;
    left: -50px;
    top: 40px;
}



#liste_cinema3 {
   width:70%;
    margin:auto; 
    
    
}

#liste_cinema3 li{
   padding-top: 20px;
}




.cinema3 {
   font-family: Arial, sans-serif; 
    
}

.cinema3:before{
    content: "• ";
    color: red;
    border-right: 1px solid;
    margin-right: 0.5em;
}

#menu_contenu_programmation:after{
    content: ' ';
    width: 0px; 
    height: 0px; 
    border-top: 10px solid transparent; 
    border-left: 10px solid transparent; 
    border-bottom:10px solid white; 
    border-right:10px solid transparent; 
    position: absolute; 
    left: 50%;
    top: -18px; 
    margin-left: -10px;
}

#menu_programmation:hover #menu_contenu_programmation{
  display:block;  
}

/*positionement des nav dans le header*/
#evenement_nav{
    width: 1100px
}



/*aside*/

aside{
	background-color: #E50006;
	display: flex;
	flex-direction: column;
	position: relative;
	left:1120px;
    width: 640px;
    height: 557px;

}

#bloc_aside{
	margin-left: 60px;
	margin-top: 100px;
	
}

#type_sortie{
	color: #fff;
	text-transform: uppercase;
	font-family: 'aleoregular';
	font-size: 1.7em;
	font-weight: bold;
	width: 250px;
	padding-bottom: 20px; 
}

#titre_film{
	color: #fff;
	text-transform: capitalize;
	font-family: 'aleoregular';
	font-size: 1.8em;
	font-weight: bold;
	
}

#titre_film2{
	color: #fff;
	text-transform: capitalize;
	font-family: 'aleoregular';
	font-size: 1.8em;
	font-weight: bold;
	padding-bottom: 15px;
}

#auteur_film{
	color: #fff;
	font-family: Arial;
}

#annee_film{
	color: #fff;
	font-family: Arial;
}

#cercle_nav ul{
	display: flex;
	padding-top: 115px;
	padding-left:130px;
}

#cercle_nav ul li{
	margin: 4px;
}


.cercle_rouge{
	background-color:#E50006;
    border: 2px solid white;    
    height: 12px;
    border-radius: 50%;
	width: 12px;	
}

.cercle_noir{
	border: 2px solid #000;
	background-color:#000;  
    height: 12px;
    border-radius: 50%;
	width: 12px;	
}

/*footer*/
footer{
	position: relative;
	z-index: 2;
	top: -80px;
	height: 100px;
	}

#bloc_bas{
	margin-left: 187px;
	margin-right: 187px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	background-color: #fff;
	height: 200px;
    
}

#prog{
	font-family: 'aleoregular';
	font-size: 2.1em;
	font-weight: bold;
	letter-spacing: 2px; 
}


#n{
	color: #E50006;
	font-family: 'aleoregular';
	font-size: 2.1em;
	font-weight: bold;
	letter-spacing: 2px; 
}

#bloc_date{
	align-self: flex-end; 
	display:flex;
	flex-direction: center;
    align-items: center;
	height: 75px;
}

#conteneur{
    position: absolute;
    height: 50px;
    width: 940px;
    margin: 0 auto;
    overflow: hidden;
}




#programmation_date{
    width: 940px;
    height: 60px;
}

#carousel_conteneur{
    position: relative;
	margin-left: 40px;
	margin-right: 40px;	
    width: 1210px;
    text-align: center;
    height: 50px;
    margin: 0 auto;
    display:inline-block;
    right: 140px;
    
}

.carousel{
    position: relative;
    display: inline-block;
    text-align:center;
    line-height: 3.3em;
    vertical-align: middle;
    width: 110px;
	height: 50px;
	margin-left: 12px;
	margin-right: 12px;
	background-color: #DADADA;
	font-family: Arial;
    transition: all 0.5s;
    
}



#calendrier_info a{
    font-family: 'sf_florencesansregular';
	font-size: 1.1em;
	font-weight: bold;
	font-variant: small-caps;
	color: #E50006;
	margin: 3px 3px;
}

#calendrier{
	width: 250px;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	border-bottom: 1px #E50006 solid;
	padding-bottom: 8px ;
	height: 40px;
	margin-left: 50px;
}


#calendrier_info {
	margin-right: 10px;
}

#bloc_cal{
	display: flex;
	align-items: center;
	justify-content: flex-end;

}


#fleche_gauche{
	display: flex;
	align-items: center;
	justify-content: center;
	border-right: 1px solid #C1C1C1;
	padding-right: 5px;
    height: 60px;
}

#fleche_gauche:hover{
	display: flex;
	align-items: center;
	justify-content: center;
	border-right: 1px solid black;
	padding-right: 5px;
}

#fg1{
    display:none;
}

#fleche_gauche:hover #fg1{
    display:block;
}

#fleche_gauche:hover #fg0{
    display:none;
}


#fleche_droite{
	display: flex;
	align-items: center;
	justify-content: center;
	border-left: 1px solid #C1C1C1;
	padding-left: 5px;
    height: 60px;

}

#fleche_droite:hover {
	display: flex;
	align-items: center;
	justify-content: center;
	border-left: 1px solid black;
	padding-left: 5px;

}



#fd1{
    display:none;
}

#fleche_droite:hover #fd0{
    display: none;
}

#fleche_droite:hover #fd1{
    display: block;
}

